.forgot-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.forgot-password-container {
  display: flex;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  width: 90%;
  max-width: 900px;
  height: 550px;
  transition: all 0.3s ease;
}

.forgot-password-form {
  padding: 40px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forgot-password-logo {
  text-align: center;
  margin-bottom: 20px;
}

.forgot-password-logo-img {
  width: 100px;  /* Adjust this size based on your logo */
  height: auto;
}

.forgot-password-title {
  font-size: 2rem;
  font-weight: 600;
  color: #333333;
  margin-bottom: 20px;
  text-align: center;
}

.forgot-password-text {
  font-size: 16px;
  color: #666666;
  margin-bottom: 30px;
  text-align: center;
}

.forgot-password-label {
  font-size: 14px;
  color: #333333;
  margin-bottom: 8px;
}

.forgot-password-input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.forgot-password-input:focus {
  border-color: #f79d8d;
  outline: none;
}

.forgot-password-button {
  padding: 12px 24px;
  font-size: 16px;
  color: #fff;
  background-color: #F14D31;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.forgot-password-button:hover {
  background-color: #9b321f;
}

.forgot-password-message {
  margin-top: 20px;
  font-size: 16px;
  color: #28a745;
  text-align: center;
}

.forgot-password-back-button {
  margin-top: 30px;
  font-size: 14px;
  color: #F14D31;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  text-align: center;
}

.forgot-password-back-button:hover {
  color: #a53824;
}

.forgot-password-bg {
  width: 50%;
  background: url("./BG.jpg") no-repeat center center;
  background-size: cover;
  border-left: 1px solid #ddd;
}

.forgot-password-logo {
  display: block;
  margin: 0 auto 20px; /* Centers the logo and adds space below */
  width: 150px; /* Set the width to fit your design */
  height: auto;
}

