/* Sidebar general styles */
.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  background-color: #F14D31;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar {
  height: 100%;
  overflow-y: auto;
}

/* Menu items */
.sidebar-item {
  color: #ffffff !important;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
}

.sidebar-item:hover {
  background-color: #e64a19;
  color: #ffffff !important;
}

.sidebar-item:focus,
.nav-link:focus {
  color: #ffffff !important;
  background-color: inherit !important;
  outline: none !important;
  box-shadow: none !important;
}

.sidebar-item.active,
.nav-link.active {
  background-color: #ff7043;
  color: #ffffff !important;
}

/* Logo section */
.logo-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
}

.logo-image {
  object-fit: contain;
  display: block;
  margin: 0 auto; /* Centers the logo */
  background-color: white; /* Background for a clean look */
  border-radius: 8px; /* Slightly rounded corners */
  border: 2px solid #ffffff; /* Adds a border around the logo */
  padding: 5px; /* Creates spacing between the image and border */
}

.styled-logo {
  width: 215px; /* Adjust width based on the uploaded image */
  height: auto; /* Automatically adjusts height proportionally */
  border-radius: 0  1rem 1rem 0; /* Rounded corners */
  padding: 5px; /* Inner spacing around the logo */
  background-color: white; /* Matches the white background */
  margin-top: 4rem;
  
}



.logo-text {
  font-size: 1.2rem;
  color: #ffffff;
  margin-left: 10px;
}

/* Divider styling */
.divider {
  background-color: #ff7043;
  height: 2px;
}

/* Footer section */
.footer-section {
  padding: 10px;
  color: #ffffff;
  text-align: center;
}

.footer-link {
  color: #ffffff !important;
  display: flex;
  align-items: center;
}

.footer-link:hover {
  text-decoration: none;
  color: #ffccbc !important;
}

.footer-profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ffffff;
}

.user-name {
  font-size: 0.9rem;
  color: #ffffff;
}
